body{
    background-color: #696969;
    height:200vh
}
h1 {
    font-family: 'Futura', sans-serif;
  }
.header{
display: grid;
place-items: center;
/*height: 10%;
width: 100%;*/
background-position: 10% 50%;
background-repeat: no-repeat;
background-size: cover
}